.hero-section {
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("/images/landing.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 96vh;
  width: 100%;
}


.hero-title {
  font-size: 70px;
  font-weight: 700;
}

.hero-desc {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

.hero-btn {
  font-size: 20px;
  padding: 12px 28px;
}


@media (max-width: 992px) {
  .hero-title {
    font-size: 48px;
  }

  .hero-desc {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 32px;
    line-height: 1.3;
  }

  .hero-desc {
    font-size: 14px;
    padding: 0 10px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}


.section-wrapper {
  padding: 80px 60px;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 40px 20px;
  }
}

.section-heading {
  font-size: 48px;
  font-weight: 700;
}

.section-para {
  font-size: 18px;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 30px;
  }

  .section-para {
    font-size: 15px;
  }
}

.text-card {
  background: #f5f5f5;
  border-radius: 12px;
}

.feature-box {
  padding: 40px;
  min-height: 260px;
}

@media (max-width: 768px) {
  .feature-box {
    padding: 25px;

  }
}


.project-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}


.worker-img {
  width: 100%;
  max-width: 395px;
  height: 584px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .worker-img {
    height: 380px;
  }
}


.map-responsive {
  position: relative;
  padding-bottom: 56.25%;
 
  height: 0;
  overflow: hidden;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 768px) {
  .map-responsive {
    padding-bottom: 100%;
   
  }
}


@media (max-width: 768px) {
  .row>* {
    margin-bottom: 20px;
  }
}


.project-section-bg {
  background-color: #24286B;
  min-height: 620px;
}

@media (min-width: 992px) {
  .project-section-bg {
    height: 620px;
  }
}